@model WebsiteShopQuanAo.Models.GIO_HANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainUserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GIO_HANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYTAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAI_KHOAN.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAI_KHOAN.MATKHAU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAGH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
