@model WebsiteShopQuanAo.Models.TAI_KHOAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAI_KHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAI_TRO.TENVAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAI_TRO.TENVAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USERNAME }) |
    @Html.ActionLink("Back to List", "Index")
</p>
