@model IEnumerable<WebsiteShopQuanAo.Models.ProductItemVM>
@{
    ViewBag.Title = "Index";
}

<!--shop  area start-->
<div class="shop_section shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                @Html.Action("Sidebar", "Products")
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--breadcrumbs area start-->
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">home</a></li>
                        <li>shop</li>
                    </ul>
                </div>
                <!--breadcrumbs area end-->
                <div class="shop_banner d-flex align-items-center" data-bgimg="assets/img/bg/shop_bg.jpg">
                    <div class="shop_banner_text">
                        <h2>essential <br> wears</h2>
                        <p>The collections basic items <br> essential for all girls</p>
                    </div>
                </div>

                <div class="row shop_wrapper">
                    @if (Model == null || !Model.Any())
                    {
                        <div class="col-12">
                            <div class="section_title text-center mb-130">
                                <h2>No products found</h2>
                            </div>
                        </div>


                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="@Url.Action("Details", "Products", new { id = item.MaSanPham })">
                                            <img src="@Url.Content((item.Images != null && item.Images.Any() && !string.IsNullOrEmpty(item.Images.First()))
                                                ? item.Images.First()
                                                : "~/Content/assets/img/no-image.png")"
                                                 alt="@item.TenSanPham" />
                                        </a>
                                    </div>

                                    <div class="product_content">
                                        <h3>
                                            <a href="@Url.Action("Details", "Products", new { id = item.MaSanPham })">
                                                @item.TenSanPham
                                            </a>
                                        </h3>

                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:N0} ₫", item.GiaBan)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <div class="pagination_style pagination justify-content-center">
                    <ul class="d-flex">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li>
                                <a class="@(i == ViewBag.CurrentPage ? "current" : "")"
                                   href="@Url.Action("Index", new { page = i,kw = ViewBag.Keyword, khoanggia = ViewBag.KhoangGia , maDanhMuc = ViewBag.MaDanhMuc})">
                                    @i
                                </a>
                            </li>
                        }
                    </ul>
                </div>


                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnhChinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatLieu.TenChatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnhChinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu.TenChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaSanPham }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaSanPham }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaSanPham })
            </td>
        </tr>
    }

    </table>*@
